<div class="admin-nav">
  <h4>Administrateur</h4>
  <%= link_to 'Nouveau Post', new_post_path %>
  <%= link_to 'Liste des articles', posts_path %>
  <%= link_to 'Déconnexion', destroy_admin_session_path, :method => :delete %>
  <%= link_to 'Réglages', edit_admin_registration_path %>
</div>
