<nav>
  <ul class="nav-links">
    <li class="nav-link"><a href="#">Home</a></li>
    <li class="nav-link"><%= link_to "Articles", posts_path %></li>
    <li class="nav-link"><a href="#">Photos</a></li>
  </ul>
</nav>
