<h1><%= @post.title %></h1><br>
<p><%= @post.content %></p><br>
<br>
<%= link_to "Editer l'article", edit_post_path(@post), :class => 'action-btn no-margin' %>
<%= link_to "Supprimer l'article", post_path(@post), method: :delete, data: { confirm: "Veux tu vraiment supprimer cet article ? " }, :class => 'action-btn' %>
