/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* === FONTS === */

@font-face {
    font-family: 'Mission Script';
    src: url('Mission-Script.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

$f-title: 'Mission Script', sans-serif;
$f-text: 'Nunito', sans-serif;

/* === COLORS === */
 $black: #414141;
 $blue: #4330D8;
 $light-blue: #E9F4F2;
 $purple: #968AF7;
 $white: #FFFFFF;

 body,
 html {
   background-color: $light-blue;
   margin: 0;
   padding: 0;
 }

 .page-container {
      padding: 50px 200px;
 }

 nav {
   width: 100%;
   background-color: $purple;
   height: 40px;
   top: 0;
   position: fixed;
   .nav-link {
     a {
       color: $white;
       font-family: $f-text;
       text-decoration: none;
       font-size: 1em;
     }
     list-style-type: none;
     float: left;
     line-height: 10px;
     display: block;
     margin-left: 60px;
   }
   .nav-link:first-of-type{
     margin-left: 0;
   }
   .nav-links {
     width: 300px;
     margin: auto;
     margin-top: 15px;
   }
 }

 h1 {
   font-family: $f-title;
   letter-spacing: .07em;
   color: $black;
   text-align: center;
 }

 form {
   margin: 30px 0px;
 }

 #post_title,
 #post_content {
   width: 100%;
   margin-bottom: 22px;
   border: 2px solid $purple;
   border-radius: 2px;
   font-family: $f-text;
   padding: 10px;
   font-weight: 400;
   font-size: 1.4em;
 }

  #post_content {
    height: 250px;
  }

 #post_content:focus,
 #post_title:focus {
   border: 2px solid $blue;
   outline: none;
 }

 label {
   font-family: $f-text;
   margin-bottom: 8px;
   display: inline-block;
   font-weight: 600;
 }

 .action-btn {
   font-family: $f-text;
   font-weight: 600;
   font-size: 1.2em;
   border: 2px solid $purple;
   color: $purple;
   border-radius: 2px;
   box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
   padding: 5px 15px;
   background-color: $white;
   transition: all ease-out 300ms;
   cursor: pointer;
   text-decoration: none;
   margin-left: 20px;
   display: inline-block;
 }

 .no-margin {
   margin: 0;
 }

 .action-btn:hover {
   border: 2px solid $purple;
   color: $white;
   box-shadow: 0 1px 3px rgba(44, 35, 35, 0.3);
   background-color: $purple;
 }

 p {
   font-family: $f-text;
   font-weight: 300;
   font-size: 1.5em;
 }

 h3 {
   font-family: $f-title;
   font-size: 1.625em;
   margin: 0;
   margin-top: 35px;
   a {
     text-decoration: none;
     color: $black;
   }
 }

 .date {
   margin: 5px 0 20px;
   font-size: 0.75em;
   span {
     font-weight: 700;
   }
 }

 .post-summary {
   font-size:0.8em;
   font-weight: 400;
   margin: 10px 0;
 }

 .post-card {
   background-color: $white;
   padding: 20px;
   margin-bottom: 20px;
   border-radius: 2px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
 }

 .post-card:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }


.article-view {
  h1 {
    font-size: 3.5em;
    margin: 63px auto 40px;
  }
  img {
    margin: 0 auto 60px;
    width: 100%;
  }
  p {
    margin: 0 auto 100px;
  }
}

footer {
  width: 100%;
  background-color: $black;
  padding: 55px 0;
  text-align: center;
  color: $white;
  p {
    margin: 0 auto;
    font-size: 0.9em;
  }
}
