<div class="head-title">
  <div class="decor-line"></div>
    <h1><%= link_to "El Romdu", root_path %></h1>
  <div class="decor-line"></div>
</div>

<nav>
  <ul class="nav-links">
    <li class="nav-link"><%= link_to "Home", root_path %></li>
    <li class="nav-link"><%= link_to "Articles", posts_path %></li>
  </ul>
</nav>
